.clear{
	clear:both;
}
.wrap {
    margin: 0 auto;
    width: 1200px;
}
.main .centre .role{
    display: block;
    background: #ffffff;
    height: 264px;
    margin-top: -114px;
    position: relative;
    z-index: 21;
    overflow: hidden;
    border-radius: 5px;
     -moz-box-shadow:0 0px 13px #DCD6D6;
    -webkit-box-shadow: 0 0px 13px #DCD6D6;
    box-shadow: 0 0px 13px #DCD6D6 ;
    /*border-bottom: 3px solid #f6f7f8;*/
}
.role ul{
	padding:0
}
.role ul li{
    float: left;
    width: 300px;
    height: 264px;
    text-align: center;
    position: relative;
}
.role ul li a{
    display: block;
    width: 100%;
    height: 264px;
    cursor: auto;
}
.see_detail {
    width: 104px;
    height: 30px;
    display: inline-block;
    background: #2da7e0;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}
.role ul li a:hover{ 
    background:#f0f0f0;  
    position:absolute; 
    bottom:0; 
    left:0;
    box-shadow:0 0 14px #eaeaea;
}
.app-module {
    background-color: #fff;
    margin: 20px 0;
    -moz-box-shadow:  0px 0px 11px #dcdcdc;
     -webkit-box-shadow: 0px 0px 11px #dcdcdc;
    box-shadow: 0px 0px 11px #dcdcdc;
    width:1200px;
    margin:25px auto 0;
}
.app-module .app-title {
    padding-top: 12px;
    border-bottom:1px solid #e5e5e5;
    width:1160px;
    margin:0 auto;
}
.app-title {
    padding-top: 10px;
    line-height: 30px;
}
.app-title .title-more {
    float: right;
    /* width: 21px; */
    height: 21px;
    overflow: hidden;
    /* text-indent: 1000px; */
    /* margin-top: 5px; */
    /* margin-right: 20px; */
    padding-right: 15px;
    color: #2298ef;
}
.app-title .title-text {
    display: inline-block;
    font-size: 24px;
    color: #333333;
    padding: 0 2px 4px;
}
.app-title .title-num {
    color: #fff;
    background: #c5c5c5;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    padding: 0 10px;
    border-radius: 9px;
    margin-left: 10px;
    position: relative;
    top: -4px;
    font-size: 14px;
    font-family: Arial;
}
.app-title .cz_btn{
    padding-bottom: 12px;
}
.app-title .cz_btn a{
    color: #999999;
    font-size: 14px;
    display: inline-block;
    margin: 0 15px;
    width: 89px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.app-title .cz_btn a.on{
   color: #fff;
   background-color: #2298ef;
   border-radius: 15px;
}
.app-title .result{
    float: right;
    color: #888;
    margin-right: 30px;
}
.app-title .result em{
        color: #309aeb;
    padding: 0 5px;
    font-size: 16px;
}
.app-list {
    overflow: hidden;
    padding:0
}
.app-list li {
    float: left;
    padding: 40px 40px;
    width: 320px;
    border-right: 0;
    margin: -1px 0 0 -1px;
    background:url(images/li_right.png) no-repeat right center;
}
.app-list li:nth-child(3),.app-list li:nth-child(6){
	background:none;
}
.app-list .app-info {
    margin-left: 96px;
    height: 72px;
}
.app-list .app-info p {
    color: #888888;
    font-size: 12px;
    white-space: nowrap;
}
.app-list img {
    float: left;
}
.app-list li .appStaice {
    margin-top: 3px;
}
.app-list li .free {
    background: #11c080;
}
.app-list li .priceCase {
    display: inline-block;
    padding: 0px 10px;
    line-height: 18px;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
    border-radius: 3px;
    margin-top: -3px;
    text-decoration: none;
}
.app-list .app-info {
    margin-left: 96px;
    height: 72px;
}
.app-list .app-info h3 {
    font-size: 22px;
    color: #222;
    font-weight: normal;
    padding: 1px 0 5px 0;
    line-height:24px;
}
.app-list .app-info h3 a {
    color: #222;
}
.app-list .app-info p,.app-list .app-info .px {
    color: #888888;
    font-size: 12px;
    white-space: nowrap;
        line-height: 22px;
}
.app-list .app-info .px .star{
	background:url(images/yellow_star.png) repeat;
	height:13px;
	width:65px;
	float:left;
	margin:4px 14px 0 0;
}
.app-list .app-info p .star b{
	background:url(images/yellow_star.png) repeat;
}
.app-list .grade_outer2 {
    display: inline-block;
    margin-right: 17px;
}
.school_list  ul{
	padding:0;
	margin-top:13px;
}
.school_list  ul li{
    float: left;
    width: 279px;
    height: 180px;
    margin:0 10px 27px;
    position: relative;
    height:162px;
    border-right:1px solid #e5e5e5;
}
.school_list  ul li:last-child{
	border-right:0 none;
}
.school_list  ul li img{
    width: 98px;
    height: 98px;
    border: 1px solid #e0e0e0;
    margin: 20px;
    float: left;
}
.school_list  ul li p{
    margin-left: 140px;
    line-height: 33px;
    font-size: 14px;
    color: #666666;
}
.school_list  ul li p span{
    color: #2298ef;
}
.school_list  ul li p.first{
    margin-top: 20px;
}
.school_list  ul li div{
    width: 260px;
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}
.yyjk{
	
}
.yyjk .yyjk_1{
	
}
.yyjk .yyjk_1 .appCont{
	width:599px;
	float:left;
	height:387px;
	border-right:1px solid #e9e9e9;
}
.yyjk .yyjk_1 .appCont .title{
	width:535px;
	margin:35px auto 0;
	line-height:80px;
	border-bottom:1px solid #f4f4f4;
	color:#666666;
	font-size:22px;
	height:60px;
	text-align:center;
}
.yyjk .yyjk_1 .appCont .title span{
	color:#2298ef;
	font-size:44px;
	line-height:60px;
}
.roleNum{
	margin-top:26px;
	height:82px;
}
.roleNumList{
	float: left;
    width: 33%;
    height: 60px;
    border-right:1px solid #f1f1f1;
}
.roleNumList:last-child{
	border-right:0 none;
}
.roleNumList .photo{
	float:left;
	margin-left:42px;
}
.roleNumList .photo img{
	margin-top:20px;
}
.roleNumList .name{
	margin-left:90px;
	font-size:18px;
	coloe:#999999;
	padding-top:10px;
}
.roleNumList .site_nummberUl{
	margin-left:90px;
	font-size:24px;
	line-height:42px;
}
.yyjk .scaleRect{
    background: #F3F3F3;
    height: 143px;
    width:529px;
    border-radius:5px;
    margin:5px auto 0;
}
.yyjk .scaleDiv {
    width: 233px;
    font-size: 14px;
    float: left;
    color:#666666;
    margin-right:8px;
    line-height:115px;
    height:115px;
    padding-top:28px;
}
.yyjk .scaleDiv p{
	padding-left:50px;
	float:left;
	width:85px;
}
.jx_bottom{
    padding:40px 0;
    background:#3088ec ;
    text-align:center;
    color:#f2f3f5;
    font-size:12px;
    line-height:25px;
    margin-top:20px;
}
.jx_bottom_top a{
    color:#fff;
}
.jx_bottom_address{
    color:#9fc7ff;
}
.jx_bottom_fw a{
    display:inline-block;
    padding:0 5px;
}
.jx_bottom_fw a img{
    width:109px;
    height:50px;
}
.fl {
    float: left;
}
.w1200 {
    min-width: 1200px;
    margin: 0 auto;
    width: 1200px;
}
.mt10 {
    margin-top: 10px;
}
.right_kuang {
	width: 148px;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 99999;
    padding-right: 6px;
}
.online_cs{
	padding: 0px 13px 20px 13px;
}
.online_cs p{
	color:#999999;
	font-size: 14px;
	padding: 15px 0 18px 0;
	text-align: center;
}
.online_cs span{
	color: #666666;
}
.online_cs,.advice_feedback,.questionnaire{
	background: #FFFFFF;
	border-radius: 10px;
	-moz-box-shadow: 0 3px 15px rgba(47, 48, 49, 0.4);
    -webkit-box-shadow: 0 3px 15px rgba(47, 48, 49, 0.4);
    box-shadow: 0 3px 15px rgba(47, 48, 49, 0.4);
}
.kf_phone span{
	width: 122px;
    display: inline-block;
    text-align: center;
}
.online_cs .kf ,.kf_phone{
	padding-bottom: 20px;
    border-bottom: 1px solid #cfd8dc;
}
.kf span b{
	font-weight: normal;
    position: relative;
    top: -5px;
}
.wechat_oa i{
	display: inline-block;
	background: url('images/ewm.png')no-repeat;
	width: 80px;
	height:80px;
	
}
.advice_feedback i{
	background: url(images/rk.png)no-repeat -12px -35px;
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -6px;
}
.questionnaire i{
	background: url(images/rk.png)no-repeat -47px -35px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: -5px;
}
.advice_feedback,.questionnaire{
	margin-top: 3px;
	height: 45px;
	text-align: center;
    line-height: 45px;
}
.wechat_oa{
	text-align: center;
}
.online_cs .kf a{
	width: 80px;
	height:25px;
	display: inline-block;
	background: url(images/rk.png) no-repeat;
}
.advice_feedback a,.questionnaire a{
	font-size: 14px;
	color: #2da7e0;
	text-decoration: underline;
}
.lxwm_div{
	background: url(images/lxwm_div.png) no-repeat #fff;
	width:54px;
	height:235px;
	display:block;
	position:fixed;
	right:0;
	top:43%;
	box-shadow: 1.5px 2.598px 38px 0px rgb( 160, 167, 177 );
	z-index:9999;
	border-radius:5px 0 0 5px;
}