.btn-blue{
    background: -webkit-linear-gradient(left top, #1795EF , #2DA1F8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #1795EF , #2DA1F8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#1795EF , #2DA1F8); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #1795EF , #2DA1F8); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #2299ee;
    -webkit-box-shadow:0 3px 9px #2299ee;
    box-shadow: 0 3px 9px #2299ee;
    border-radius:5px;
}
.btn-blue:hover{
    background: -webkit-linear-gradient(left top, #188cde , #239af3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #188cde , #239af3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#188cde , #239af3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #188cde , #239af3); /* 标准的语法 */
}

.btn-green{
    background: -webkit-linear-gradient(left top, #78c843 , #79c843); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #78c843 , #79c843); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#78c843 , #79c843); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #78c843 , #79c843); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #67ba2f;
    -webkit-box-shadow:0 3px 9px #67ba2f;
    box-shadow: 0 3px 9px #67ba2f;
    border-radius:5px;
}
.btn-green:hover{
    background: -webkit-linear-gradient(left top, #3ea919 , #59bb17); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #3ea919 , #59bb17); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#3ea919 , #59bb17); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #3ea919 , #59bb17); /* 标准的语法 */
}

.btn-peaGreen{
    background: -webkit-linear-gradient(left top, #1ecf7e , #1ee087); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #1ecf7e , #1ee087); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#1ecf7e , #1ee087); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #1ecf7e , #1ee087); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #1ecf7e;
    -webkit-box-shadow:0 3px 9px #1ecf7e;
    box-shadow: 0 3px 9px #1ecf7e;
    border-radius:5px;
}
.btn-peaGreen：hover {
    background: -webkit-linear-gradient(left top, #18b86f, #1dd681); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #18b86f, #1dd681); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #18b86f, #1dd681); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #18b86f, #1dd681); /* 标准的语法 */
}

.btn-orange{
    background: -webkit-linear-gradient(left top, #f5a816 , #ffbc00); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #f5a816 , #ffbc00); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#f5a816 , #ffbc00); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #f5a816 , #ffbc00); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #f5a815;
    -webkit-box-shadow:0 3px 9px #f5a815;
    box-shadow: 0 3px 9px #f5a815;
    border-radius:5px;
}
.btn-orange:hover {
    background: -webkit-linear-gradient(left top, #ff7e00, #ff9700); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #ff7e00, #ff9700); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #ff7e00, #ff9700); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #ff7e00, #ff9700); /* 标准的语法 */
}

.btn-red{
    background: -webkit-linear-gradient(left top, #ff7878 , #ff6363); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #ff7878 , #ff6363); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#ff7878 , #ff6363); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #ff7878 , #ff6363); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #d65b4a;
    -webkit-box-shadow:0 3px 9px #d65b4a;
    box-shadow: 0 3px 9px #d65b4a;
    border-radius:5px;
}
.btn-red:hover {
    background: -webkit-linear-gradient(left top, #e96363, #fa6c6c); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #e96363, #fa6c6c); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #e96363, #fa6c6c); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #e96363, #fa6c6c); /* 标准的语法 */
}

.btn-lightGray{
    background: -webkit-linear-gradient(left top, #a8bfca , #c2d4dd); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #a8bfca , #c2d4dd); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#a8bfca , #c2d4dd); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #a8bfca , #c2d4dd); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #8baab9;
    -webkit-box-shadow:0 3px 9px #8baab9;
    box-shadow: 0 3px 9px #8baab9;
    border-radius:5px;
}
.btn-lightGray:hover{
    background: -webkit-linear-gradient(left top, #7694a3 , #90acb9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #7694a3 , #90acb9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#7694a3 , #90acb9); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #7694a3 , #90acb9); /* 标准的语法 */
}
.btn-forbidGray{
    background: -webkit-linear-gradient(left top, #cacaca , #d8d8d8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #cacaca , #d8d8d8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,#cacaca , #d8d8d8); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #cacaca , #d8d8d8); /* 标准的语法 */
    -moz-box-shadow: 0 3px 9px #a8a8a8;
    -webkit-box-shadow:0 3px 9px #a8a8a8;
    box-shadow: 0 3px 9px #a8a8a8;
    border-radius:5px;
}



