<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="platform.szxyzxx.dy.dao.DyExcellentTeamNjpjMapper">

    <insert id="create"  parameterType="platform.szxyzxx.dy.pojo.DyExcellentTeamNjpj">
        insert into dy_excellent_team_njpj
        ( team_name,xn
        ,xq,xqy,xqz
        ,wspj,whjspj,sum_score
        ,create_time,creator
        ,creator_id)
        values (#{args[0].teamName,jdbcType=VARCHAR},#{args[0].xn,jdbcType=VARCHAR}
        ,#{args[0].xq,jdbcType=VARCHAR},#{args[0].xqy,jdbcType=TINYINT},#{args[0].xqz,jdbcType=TINYINT}
        ,#{args[0].wspj,jdbcType=TINYINT},#{args[0].whjspj,jdbcType=TINYINT},#{args[0].sumScore,jdbcType=TINYINT}
        ,#{args[0].createTime,jdbcType=TIMESTAMP},#{args[0].creator,jdbcType=VARCHAR}
        ,#{args[0].creatorId,jdbcType=INTEGER})
    </insert>

</mapper>
