#navigation {
    background-color: #F4F4F4;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#navigation > li {
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
li{
	list-style:none;
}
#navigation > li.active > a {
    background-color: #456A8C;
    color: #fff;
   
}
#navigation  li  a {
    display: block;
    font-weight: 700;
    padding: 7px 15px;
    position: relative;
}
#navigation > li a {
    -moz-user-select: none;
    font-size: 13px;
    transition: all 0.2s linear 0s;
    color: #6B6B6B;
}
#navigation > li a  i {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    transition: all 0.1s linear 0s;
    width: 32px;
    height:32px;
}
.fa-dashboard{
	background: url("images/icon1.png") no-repeat;
    position: relative;
    top:4px;
}
.fa-weike{
    background: url("images/icon2.png") no-repeat;
    position: relative;
    top:4px;
}
.fa-zuoye{
	background: url("images/icon3.png") no-repeat;
    position: relative;
    top:4px;
}
 .fa-kaoshi{
    background: url("images/icon4.png") no-repeat;
    position: relative;
    top:4px;
}
.fa-dayi{
    background: url("images/icon5.png") no-repeat;
    position: relative;
    top:4px;
}
 .fa-taolun{
    background: url("images/icon6.png") no-repeat;
    position: relative;
    top:4px;
}
.fa-ziliao{
    background: url("images/icon7.png") no-repeat;
    position: relative;
    top:4px;
}
.fa-pingyu{
    background: url("images/icon8.png") no-repeat;
    position: relative;
    top:4px;
}
.fa-kechengbiao{
    background: url("images/icon9.png") no-repeat;
    position: relative;
    top:4px;
}
#navigation > li .fa-plus{
	background: url("images/jian.jpg") no-repeat;
	height: 11px;
	position: absolute;
    right: 0;
    top: 17px;
}
#navigation > li .fa-plus_1{
	background: url("images/jia.jpg") no-repeat;
	height: 11px;
	position: absolute;
    right: 0;
    top: 17px;
}
#navigation > li .fa-caret-right{
	background: url("images/right.png") no-repeat;
	height: 7px;
}
#navigation > li > a.on{
    background-color: #3A3D3F;
    color: #fff;
}
#navigation > li > a  span{
	display: inline-block;
    position: relative;
    top: -7px;
}
#navigation > li >ul{
	background-color: #DFDFDF;
}
#navigation > li >ul >li a{
    padding-left: 35px;
}
#navigation > li >ul >li a.hover{
    background-color: #35566b;
    color: #fff;
}
#navigation ul{
	margin: 0;
}
.breadcrumb li  i {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    transition: all 0.1s linear 0s;
    width: 20px;
}
.switch-item li .icon_1{
    background: url("images/icon_1.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_2{
    background: url("images/icon_2.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_3{
    background: url("images/icon_3.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_4{
    background: url("images/icon_4.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_5{
    background: url("images/icon_5.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_6{
    background: url("images/icon_6.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_7{
    background: url("images/icon_7.png") no-repeat 50% 50%;
    height: 75px;
}
.switch-item li .icon_8{
    background: url("images/icon_8.png") no-repeat 50% 50%;
    height: 75px;
}