@charset "utf-8";
/* CSS Document */
body {
    background-color: #FFFFFF;
}
body {
    color: #333333;
  
}
.index_focus {
    height: 600px;
    margin: 0 auto;
    min-height: 250px;
    min-width: 1002px;
    overflow: hidden;
    position: relative;
    width: 1600px;
}

.index_focus_pre {
    background-position: 0 0;
    left: 30px;
}
.index_focus_pre, .index_focus_next {
    background: url("images/ico_sliding_718.png") no-repeat ;
    height: 72px;
    margin-top: -36px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 40%;
    white-space: nowrap;
    width: 72px;
    z-index: 10;
}
.index_focus:hover .index_focus_pre, .index_focus:hover .index_focus_next {
    display: block;
}
a {
    color: #333333;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

.index_focus_pre {
    background-position: 0 0;
    left: 30px;
}
.index_focus_pre:hover {
    background-position: 0 -144px;
}
.index_focus_pre, .index_focus_next {
    background: url("images/ico_sliding_718.png") no-repeat ;
    height: 72px;
    margin-top: -36px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 40%;
    white-space: nowrap;
    width: 72px;
    z-index: 10;
}
.index_focus_next {
    background-position: 0 -72px;
    right: 30px;
}
.index_focus_next:hover {
    background-position: 0 -216px;
}
.group_pre1, .group_next1, .group_pre2, .group_next2, .group_pre3, .group_next3 {
    background: url("images/ico_sliding_718.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 66px;
    margin-top: -33px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 50%;
	 white-space: nowrap;
    width: 60px;
    z-index: 200;
}


ul, ol {
    list-style: none outside none;
}
/* .index_focus li { */
/*     display: none; */
/*     left: 0; */
/*     position: absolute; */
/*     top: 0; */
/* } */

.index_focus .slide_nav a:hover, .index_focus .slide_nav .cur {
    color: #99CC00;
    opacity: 0.8;
    text-decoration: none;
}
.index_focus .pic {
    display: block;
    height: auto;
}
.index_focus_info h3 {
    display: none;
    font-family: 微软雅黑,u9ed1u4f53,"Lucida Grande";
    font-size: 36px;
    line-height: 70px;
}
.index_focus_info {
    background: url("images/index_focus_bg.png") no-repeat scroll 0 0 transparent;
    bottom: 12%;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    font-family: "微软雅黑";
    height: 200px;
    left: 10%;
    padding-bottom: 10px;
    position: absolute;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 800px;
}
.index_focus_info .text {
    display: none;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    width: 500px;
    word-wrap: break-word;
}
fieldset, img {
    border: 0 none;
}
.index_focus .slide_nav {
    bottom: 2%;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}
.index_focus .slide_nav a {
    color: #FFFFFF;
    font-family: arial;
    font-size: 28px;
    opacity: 0.5;
    padding: 0 10px;
}