body{
	margin:0;
	padding:0;
}
.main_contain{
	background: url("images/contain_bg.png") no-repeat 50% 0;
}
.main_contain .login{
	width: 1002px;
	height:725px;
	margin: 0 auto;
	position: relative;
	background:url("images/logo_bg.jpg") no-repeat;
}
.login_top{
	height:70px;
	background-color:#fff;
}
.login_top .lt_main{
	width:1000px;
	margin:0 auto;
}
.login_top .lt_main .logo{
	background:url("images/logo.png") no-repeat;
	float:left;
	width:611px;
	height:70px;
}
.login_top .lt_main p{
	line-height:70px;
	float:right;
	font-size:16px;
	font-family:"微软雅黑";
}
.login_top .lt_main p span{
	color:#FC6E51;
}
.main_contain .login .title{
	font-size: 30px;
	font-family: "黑体";
	color: #ffffff;
	line-height: 120px;
	padding-left: 83px;
	background: url("images/title.png") no-repeat 13px 50%;
}
.main_contain .login .banner{
	background: url("images/banner.png") no-repeat;
	display: block;
	height: 294px;
	width: 1002px;
}
.main_contain .login .fuwu{
	background: url("images/fuwu.png") no-repeat;
	font-size: 12px;
	color: #3C9ACB;
	margin-top: 4px;
	height: 189px;
	padding: 18px;
}
.main_contain .login .login-form{
	position: absolute;
	top:101px;
	width: 288px;
	right: 18px;
	height: 336px;
}
.main_contain .login .login-form form{
	width: 288px;
	height:256px;
	margin: 0 auto;
	padding-top: 80px;
	position:relative;
}
.main_contain .login .login-form .title{
	background: url("images/title_sock.png") no-repeat 68px ;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #222222;
	padding-left: 100px;
	line-height: 31px;
	margin-bottom: 23px;
}
.main_contain .login .login-form .control-group{
	margin: 0;
}
.main_contain .login .login-form .control-group label{
	width: 90px;
	text-align: right;
	line-height: 24px;
	color: #656565;
	font-family: "微软雅黑";
	float: left;
}
.main_contain .login .login-form .control-group input[type="text"],.main_contain .login .login-form .control-group input[type="password"]{
	width: 216px;
	height: 23px;
	padding: 5px;
	margin-left: 30px;
	line-height: 23px;
	border: 1px solid #C3C3C3;
	background-color: #FAFAFA;
}
.main_contain .login .login-form .control-login{
	height: 45px;
	margin-bottom: 45px;
	position:absolute;
	top:203px;
}
.main_contain .login .login_bottom{
	position:absolute;
	bottom:5px
}
.main_contain .login .login_bottom p{
	font-size:14px;
	font-family:"微软雅黑";
	text-align:center;
	line-height:24px;
	color:#fff;
	margin:0;
	width:1000px;
}
.main_contain .login .login-form .control-login .login{
	background: url("images/btn_login.png") no-repeat;
	width: 228px;
	height: 45px;
	display: block;
	float: left;
	margin-left: 30px;
}
.main_contain .login .login-form .control-login .enroll{
	background: url("images/btn_enroll.png") no-repeat;
	width: 76px;
	height: 28px;
	display: block;
	float: left;
}
.main_contain .login .login-form .control-remember{
	padding-left: 30px;
	margin-bottom: 10px;
}
.main_contain .login .login-form .control-remember input[type="checkbox"]{
	margin: 0 5px;
}
.main_contain .login .login-form .bottom{
	width: 276px;
	margin-left: 52px;
	text-align: center;
	color: #A2A2A2;
	border-top: 1px solid #DEDEDE;
	line-height: 60px;
	margin-bottom: 0;
}
.login-form_1{
	background:url("images/login_kuan.png") no-repeat;
	display:block;
	width:663px;
	height:340px;
	margin:150px auto 0;
	position:relative;
}
.login-form_1 .control-group input{
	width:206px;
	height:23px;
	line-height:23px;
	position:absolute;
}
.login-form_1 .control-group input.name{
	left: 371px;
    top: 130px;
}
input[type="password"] {
    padding: 0 6px;
}
.login-form_1 .control-group input.password{
	 left: 371px;
    top: 168px;
}
.login-form_1 .control-login .login{
	background: url("images/btn_yes.png") no-repeat;
	width: 94px;
	height: 31px;
	display: block;
	position:absolute;
	left:368px;
	top:230px;
}
.login-form_1 .control-login .reset{
	background: url("images/btn_reset.png") no-repeat;
	width: 94px;
	height: 31px;
	display: block;
	position:absolute;
	left:368px;
	top:230px;
}
.login-form_1 .bottom{
	color:#3D3C3C;
	position:absolute;
	bottom:0;
	padding-left:20px;
}
.login-form_1 .control-remember {
    margin-bottom: 10px;
     left: 368px;
    position: absolute;
    top: 202px;
    width: 148px;
}

.login-form_1 .control-remember input[type="checkbox"] {
    margin: 0 5px;
}
.login_bottom{
	background:url("images/login_bottom.jpg") no-repeat 50% 0;
	height:285px;
}