@charset "utf-8";
body{
	font-family:"MicrosoftYaHeiUI";
	padding:0;
}
p{
	margin:0;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.left_mu {
    position: absolute;
    width: 216px;
    margin:21px 26px;
    border-right:1px solid #d9d9db;
}
.left_mu .main_modele{
	border-bottom:1px solid #e3e8ec;
	width:180px;
	height:120px;
	margin:0 auto;
	padding-top:16px;
	margin-bottom:20px;
}
.left_mu .main_modele .p_icon{
	background:url('images/ps_icon.png') no-repeat;
	width:60px;
	height:60px;
	margin:0px auto 16px;
}
.left_mu .main_modele .p1{
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	color: #666666;
	text-align:center;
}
.left_mu .first_ul > li{
	position:relative;
	width: 176px;
	padding-left:14px;
	margin-bottom:25px;
}
.left_mu .first_ul > li.active{
	width: 190px;
	background-color: #2299ee;
	box-shadow: 0px 3px 9px 0px 
		rgba(34, 153, 238, 0.45);
	border-radius: 6px;
	border: solid 1px #2299ee;
}
.left_mu .first_ul > li>a{
	color:#9f9c9d;
	display:block;
	font-size:14px;
	line-height:38px;
	font-weight:bold;
}
.left_mu .first_ul > li.active>a{
	color:#fff;
}
.left_mu .first_ul > li>ul{
	position:relative
}
.left_mu .first_ul > li>ul>li.line{
	content:"";
	position:absolute;
	top:0;
	left:3px;
	height: 14px; 
	border-radius: 1px;
	border: solid 1px rgba(255, 255, 255, 0.5);
	    transition: all 0.2s ease-out 0s;
} 
.left_mu .first_ul > li >ul{
	
}
.left_mu .first_ul > li >ul >li{
	
}
.left_mu .first_ul > li >ul >li>a{
	color:#91ccf7;
	line-height:36px;
	display:block;
	padding-left:28px;
	height:36px;
}
.left_mu .first_ul > li >ul >li>a.blue_1{
	color:#fff;
	background:url('images/click_left.png') no-repeat left 50%; 
}
.ps_nav{
	padding:15px 0 0 20px;
}
.ps_nav a{
	display: block;
	float:left;
	height: 47px;
	line-height: 47px;
	width: 88px;
	color: #6f6f6f;
	font-size: 14px;
	margin-right: 10px;
	text-align: center;
}
.ps_nav a.on{
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	color: #2299ee;
	/*box-shadow: 3px 5px 10px 0px rgba(15, 11, 11, 0.1);*/
}
.rwgl_bg{
	background: url("images/rwgl_bg.png") no-repeat;
	width: 833px;
	height: 492px;
	margin: 63px auto 0;
}
.rwgl_btn{
	text-align: center;
}
.rwgl_btn a{
	width: 108px;
	height: 40px;
	border-radius: 10px;
	border: solid 1px #fff;
	display: inline-block;
	padding-top: 88px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
	margin: 50px 15px 0;
}
.rwgl_btn a.a1{
	background: url("images/rwgl1.png") no-repeat 50% 27px ;
}
.rwgl_btn a.a2{
	background: url("images/rwgl2.png") no-repeat 50% 27px ;
}
.rwgl_btn a.a3{
	background: url("images/rwgl3.png") no-repeat 50% 27px ;
}
.rwgl_btn a:hover{
	border: solid 1px #e6e6e6;
	background-color: #ffffff;
	box-shadow: 3px 5px 10px 0px
	rgba(15, 11, 11, 0.1);
}