<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="platform.education.netdisk.mapper.FilesMapper">

	<resultMap id="FilesResult" type="platform.education.netdisk.entity.FilesEntity">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="uuid" column="uuid" />
		<result property="catalogId" column="catalog_id" />
		<result property="ownerId" column="owner_id" />
		<result property="modifyDate" column="modify_date" />
		<result property="createDate" column="create_date" />
	</resultMap>

	<resultMap id="EntityFileResult" type="platform.education.netdisk.vo.ResFileVo">
		<result property="size" column="size" />
		<result property="md5" column="md5" />
		<result property="extension" column="extension" />
		<result property="contentType" column="content_type" />
		<result property="fileName" column="file_name" />
		<result property="diskFileName" column="disk_file_name" />
		<result property="thumbnailUrl" column="thumbnail_url" />
		<result property="relativePath" column="relative_path" />

	</resultMap>

	<!--<delete id="deleteFilesByCatalogId">
		DELETE FROM pan_catalog
		WHERE catalog_id = #{catalogId}
	</delete>-->

	<select id="selectWithEntityFile" resultMap="EntityFileResult">
		SELECT pf.*, ref.extension, ref.size, ref.relative_path
		FROM pan_files pf, `res_entity_file` ref
		WHERE pf.uuid=ref.uuid
		<if test="userId != null">
			and pf.owner_id = #{userId}
		</if>
		<if test="name !=null and name != ''">
			and pf.name like CONCAT('%', #{name}, '%')
		</if>
		<if test="extensions !=null">
			and ref.extension in
			<foreach collection="extensions" item="extension" open="(" close=")" separator=",">
				#{extension}
			</foreach>
		</if>

		order by pf.create_date desc
	</select>


	<select id="selectEntityFilesByFiles" resultMap="EntityFileResult">
		SELECT pf.*, ref.extension, ref.size, ref.relative_path
		FROM pan_files pf, `res_entity_file` ref
		WHERE pf.uuid=ref.uuid
		<if test="condition.id != null">
			AND pf.id = #{condition.id,javaType=java.lang.Integer}
		</if>
		<if test="condition.name != null and condition.name != ''">
			AND pf.name like CONCAT('%', #{condition.name,javaType=java.lang.String}, '%')
		</if>
		<if test="condition.uuid != null and condition.uuid != ''">
			AND pf.uuid = #{condition.uuid,javaType=java.lang.String}
		</if>
		<if test="condition.ownerId != null">
			AND pf.owner_id = #{condition.ownerId,javaType=java.lang.Integer}
		</if>
		<if test="condition.catalogId != null">
			AND pf.catalog_id = #{condition.catalogId,javaType=java.lang.Integer}
		</if>
		<if test="condition.modifyDate != null">
			AND pf.modify_date = #{condition.modifyDate,javaType=java.util.Date}
		</if>
		<if test="condition.createDate != null">
			AND pf.create_date = #{condition.createDate,javaType=java.util.Date}
		</if>
		<if test="extensions !=null">
			and ref.extension in
			<foreach collection="extensions" item="extension" open="(" close=")" separator=",">
				#{extension}
			</foreach>
		</if>

		order by pf.create_date desc
	</select>


</mapper>