body{
	margin:0;
	padding:0;
}
.container{
	margin:200px auto 0;
	width:1004px;
	height:634px;
	text-align:center;	
	background:url("images/error_0.png") no-repeat;
}
#big-logo{
	background:url("images/head_bg.jpg") repeat-x;
	text-align:center;
	height:95px;
	min-width:1000px;
}
#big-logo .logo1{
	position:relative;
	top:5px;
	margin:0 auto;
	display:inline-block;
	
}
#big-logo .old{
	position:absolute;
	right:0;
	
	top:0px;
	display:inline-block;
}
#we{
	
	line-height:1.2;
	margin-top:20px;
	font-size:22px;
}
#please{
	margin-top:20px;
	font-size:30px;
	font-weight:bold;
}
#browsers{
	font-size:15px;
	padding-top:439px;
}
#browsers a{
	display: inline-block;
    height: 23px;
    margin: 10px;
    padding-top: 81px;
    width: 76px;
    background:url("images/browser.jpg") no-repeat;
    color:#58954E;
    text-decoration:none;
}
#browsers a:hover{
	text-decoration: underline;
}
#browsers .br1{
	background-position: 6px 1px;
}
#browsers .br2{
	background-position: -80px 1px;
}
#browsers .br3{
	background-position: -170px 1px;
}
#browsers .br4{
	background-position: -260px 1px;
}