@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.clear{
    clear:both;
}
/*布置导学案*/
.bzdxa{
    border:1px #ccc solid;
    margin: 15px;
    height: 100%;
    background: #f4f4f4;
}
.position{
    border-bottom: 1px #d9dfe7 solid;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    color: #7f88a3;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
    background: #fff;
}
.bzdxa_class label{
    width: 105px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    float: left;
    color: #444;
    font-size: 12px;
}
.bzdxa_class label i{
    color: #f62222;
    margin-right: 5px;
    font-style: normal;
}
.choose_class{
    margin-left: 105px;
    color: #444;
    font-size: 12px;
}
.choose_class input[type="radio"],.choose_class input[type="checkbox"]{
    margin: 0 10px;
    position: relative;
    top: -1px;
}
.selected_class{
    height: 35px;
    margin-bottom: 10px;
   	line-height: 32px;
}
.choose,.choose_subject,.execution_class{
    height: 41px;
}
.choose_grade a,.execution_class a{
    height: 40px;
    line-height: 40px;
    padding: 0 28px;
    background: #f3f3f3;
    border-top:1px #ccc solid;
    border-right:1px #ccc solid;
    border-left:1px #ccc solid;
    float: left;
    color: #9b9b9b;
    font-size: 14px;
    margin-left: 5px;
}
a.display_grade,a.display_subject,a.execution{
    background: #fff;
    color: #444;
    position: relative;
    top: 1px;
}
.grade,.grade2{
    background: #fff;
    width: 860px;
    float: left;
    border:1px #ccc solid;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 10px;
}
.check{
    float: left;
    height: 30px;
    line-height: 30px;
    color: #333;
    width: 220px;
}
.arrange_button{
    width: 100%;
    float: left;
}
.arrange_button button{
    height: 35px;
    border:none;
    width: 85px;
    font-size: 14px;
    color: #fff;
    background: #0d7bd5;
    margin:35px 20px 35px 0;
}

/*完成情况统计*/
.spacing{
    margin: 20px;
}
.statistics{
    border:1px #ccc solid;
    background: #fff;
}
.ranking {
    margin: 60px 11.6% 60px;
}
.publish {
    width: 18.2%;
    height: 190px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 8.6%;
    margin-bottom: 30px;
}
.publish p {
    height: 75px;
    text-align: center;
    line-height: 75px;
    background: #0d7bd5;
    font-size: 25px;
    font-family: '微软雅黑';
    color: #fff;
    margin: 0;
    padding: 0 50px;
}
@media screen and (min-width: 700px) and (max-width: 1600px){
  .publish p
  {
    font-size:20px;
    padding: 0;
  }
  .publish span
  {
    font-size:30px;
  }
}
.publish span {
    text-align: center;
    display: block;
    line-height: 115px;
    height: 115px;
    font-size: 28px;
    font-family: '微软雅黑';
    color: #0d7bd5;
}
.head {
    color: #0d7bd5;
    font-family: '微软雅黑';
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 55px 0 35px;
}
.ranking table {
    width: 100%;
    margin: 0 auto;
    border-top: 1px #ccc solid;
    border-left: 1px #ccc solid;
    background: #fff;
}
.ranking table th, .ranking table td {
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.ranking table tbody tr {
    font-family: '微软雅黑';
    color: #333;
}
.ranking table thead tr {
    background: #e4f5ff;
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: bold;
    color: #0d7bd5;
}
.population{
    height: 200px;
    margin-bottom: 60px;
}
.population span{
    font-family: '微软雅黑';
    color: #0d7bd5;
    font-size: 24px;
    line-height: 200px;
    float: left;
    margin-right: 20px;
}
.already,.not{
    float: left;
    height: 200px;
}
.already p,.not p{
    text-align: center;
    color: #333;
    font-size: 20px;
    font-family: '微软雅黑';
    margin: 0;
}
.already canvas,.not canvas{
    width: 110px;
    height: 110px;
    margin: 38px auto 20px;
    display: block;
}
.not{
    float: right;
}
.kuang{
    width: 50%;
    margin: 0 auto;
}

/*管理导学案*/
.frame{
    border:1px #89c6ec solid;
    margin: 20px;
}
.pull-down{
    color: #333;
    font-size: 16px;
    float: left;
    line-height: 35px;
    font-family: '微软雅黑';
    margin: 15px 0 15px 40px;
}
.pull-down select{
    border:1px #ccc solid;
    height: 35px;
    width: 130px;
}
.pull-down button{
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border:0;
    background: #0d7bd5;
    color: #fff;
}
.btn.see,.btn.state,.btn.delete{
    border:0;
    color: #fff;
    border-radius: 3px;
    color:#fff;
}
.btn.see{
    background: #f0ad4e;
    width: 55px;
    height: 30px;
}
.btn.delete{
    width: 55px;
    height: 30px;
    background: #ff8d72;
}
.btn.state{
    width: 80px;
    height: 30px;
    background: #0d7bd5;
}
/* 错题本 */
.ctb{
	
}
.ctb .wrong_question{
	background-color:#fff;
	padding:20px;
}
.wrong_question .execution_class{
	    height: 41px;
}
.wrong_question .execution_class a{
	height: 40px;
    line-height: 40px;
    padding: 0 16px;
    background: #f3f3f3;
    border: 1px #ccc solid;
    float: left;
    color: #9b9b9b;
    font-size: 14px;
    margin-left: 5px;
}
.wrong_question .execution_class a.execution{
	    background: #fff;
    color: #444;
    position: relative;
    top: -2px;
    height:43px;
    line-height:43px;
    border:1px solid #a8d5f1;
    border-bottom:1px solid #fff;
}
.ct_div{
	border:1px solid #a8d5f1;
}
.ct_div .ct_list{
	padding:20px 10px;
}
.ct_div .ct_list .top{
	min-height:42px;
	line-height:42px;
	border:1px solid #cccccc;
	background-color:#f0f0f0;
	font-family:'微软雅黑';
	font-size:16px;
	color:#666;
}
.ct_div .ct_list .top p{
	color:#389ef2;
	margin-left:20px;
	float:left;
	margin-bottom:0;
}
.ct_div .ct_list .top ul{
	float:left;
	
}
.ct_div .ct_list .top ul li{
	float:left;
	margin-left:40px;
}
.ct_div .ct_list .top ul li a{
	display: block;
    line-height: 42px;
    height: 42px;
    color:#666;
}
.ct_div .ct_list .top ul li a:hover{
	color:#222;
}
.ct_div .ct_list .top span{
	float:right;
	margin-right:20px;
}
.ct_div .ct_list .top ul li a i{
	display:block;
	width:40px;
	height:22px;
	border-radius:2px;
	float:left;
	margin-right:9px;
	margin-top:10px;
}

.ct_div .ct_list .top .a1 i{
	background-color:#ff6440;
}
.ct_div .ct_list .top .a2 i{
	background-color:#ec9d2c;
}
.ct_div .ct_list .top .a3 i{
	background-color:#0d7bd5;
}
.ct_div .ct_list .top .a4 i{
	background-color:#5db75d;
}
.ct_div .ct_list .top .a0 i{
	background-color:#ccc;
}
.question_main{
	border:1px solid #cccccc;
	margin-top:10px;
}
.question_main .d_top{
	height:45px;
	line-height:45px;
	color:#666666;
	font-family:"微软雅黑";
	padding:0 18px;
	font-size:16px;
	background-color:#f0f0f0;
}
.question_main .d_top p{
	margin-right:60px;
	float:left;
}
.question_main .d_top p span{
	
}
.question_main .d_top p .zql_1{
	color:#ff6440;
}
.question_main .d_top p .zql_2{
	color:#ec9d2c;
}
.question_main .d_top p .zql_3{
	color:#0d7bd5;
}
.question_main .d_top p .zql_4{
	color:#5db75d;
}
.question_main .d_top .bj_btn{
	float:right;
	padding-top:6px;
	position:relative;
}
.question_main .d_top .bj_btn a{
	display:block;
	width:175px;
	height:34px;
	line-height:34px;
	text-align:center;
	color:#fff;
	border-radius:2px;
	position:absolute;
	z-index:3;
	right: 0px; 
}
.question_main .d_top .bj_btn .a1{
	background-color:#999999;
	
}
.question_main .d_top .bj_btn .a2{
	background-color:#ff6440;
	z-index:2
}
.question_main .d_top .bj_btn .a3{
	background-color:#999999;
}
/* .question_main .d_top .bj_btn span {
	display:block;
}
.question_main .d_top .bj_btn span:hover a3{
	display:block
} */
.question_bottom{
	color:#333;
	font-family:"微软雅黑";
	font-size:18px;
	padding:20px;
}
.question_bottom .q_title{
	line-height:40px;
}
.question_bottom .q_jiexi{
	font-size:16px;
}
.question_bottom .q_jiexi span{
	color:#666;
}
.question_bottom .xzt{
	font-size:16px;
	margin-bottom:25px;
}
.question_bottom .xzt li{
	height:43px;
	line-height:43px;
	padding-left:63px;
	background:url("images/ct_li.png") no-repeat 30px center;
}
.question_bottom .xzt li.x_right{
	background:url("images/ct_on.png") no-repeat 30px center;
}